@import url('https://fonts.cdnfonts.com/css/samarkan');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DynaPuff&family=PT+Serif:wght@400;700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "PT Serif", "samarkan", "DynaPuff",sans-serif }